<div class="gird-12">
  <h1 class="heading">USER MANAGEMENT LIST </h1>

<div class="text-right">
  <mat-icon class="add-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="add" routerLink="/add-user">
  </mat-icon>
</div>  
<div>
  
</div>

<mat-grid-list cols="4" rowHeight="4:1">
  <mat-grid-tile class="grid-label"> Name</mat-grid-tile>
  <mat-grid-tile class="grid-label">Email</mat-grid-tile>
  <mat-grid-tile class="grid-label">Phone</mat-grid-tile>
  <mat-grid-tile class="grid-label">Action</mat-grid-tile>
</mat-grid-list>
<ng-contaier *ngIf="dataList.length; else noData">
<mat-grid-list cols="4" rowHeight="4:1"  *ngFor="let data of dataList">
  <mat-grid-tile>{{data.firstName}} {{data.lastName}}</mat-grid-tile>
  <mat-grid-tile>{{data.email}}</mat-grid-tile>
  <mat-grid-tile>{{data.phone}}</mat-grid-tile>
  <mat-grid-tile> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="editUser(data)"></mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="removeUser(data)">
    </mat-icon></mat-grid-tile>
</mat-grid-list>
</ng-contaier>
<ng-template #noData class="list">
  <div class="list p-1">No data available</div>
</ng-template>
</div>